# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# test
TestPlots
misc
testfb
testcd
testwf
*.ps
*.pdf
*.png

testcp
#vim
*.vim
*.pyc

# 
bin
testcd
testmc
Makefile.inc
test/testdp
test/testco
test/testwl
Makefile.inc
tags
test/test
test/testcompi
